<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProductStatCollector: new Product</title>
</head>
<body>

<form th:method="POST" th:action="@{/products}" th:object="${product}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="type">Type: </label>
    <input type="text" th:field="*{type}" id="type"/>

    <label for="url">URL: </label>
    <input type="text" th:field="*{url}" id="url"/>

    <br>
    <input type="submit" value="Create"/>
</form>

</body>
</html>